body{
    background-color: black;
}

h1 { 
    margin-left: 40px;
    font-family: 'Raleway';
    word-spacing: 4px;
    letter-spacing: 3px;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color:black;
    font-size: 30px;
    font-family: 'Raleway';
}

.cartao{
    background-image: url('../imagens/background.png');
    width: 700px;
    height: 340px;
    margin: auto;
    margin-top: 13%;
    padding: 15px;
    box-sizing: border-box;
}

img{
    height: 50px;
    margin-right: 15px;
}
